openapi: 3.2.0
info:
  version: '2024-01-01'
  title: Cashfree Payout Authorize API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    email: developers@cashfree.com
    name: API Support
    url: https://discord.com/invite/QdZkNSxXsB
  description: Cashfree's Payout APIs provide developers with a streamlined pathway to integrate advanced payout capabilities into their applications, platforms and websites.
servers:
- url: https://sandbox.cashfree.com/payout
  description: Sandbox server
- url: https://api.cashfree.com/payout
  description: Production server
tags:
- name: Authorize
paths:
  /v1/authorize:
    post:
      summary: Authorize
      description: Use this API to authenticate with the Cashfree system and obtain the authorization bearer token. All other API calls must have this token as Authorization header in the format 'Bearer <token>' (without quotes) for them to get processed. The generated token is valid for 6 minutes.
      x-mcp:
        enabled: true
      operationId: authorize-2
      security:
      - XClientID: []
        XClientSecret: []
      parameters:
      - $ref: '#/components/parameters/apiVersionHeader'
      - $ref: '#/components/parameters/xRequestIDHeader'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        '401':
          description: '401'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl -X POST \\\n  'http://{{Host%20Url}}/payout/v1/authorize' \\\n  -H 'X-Client-Id: {{client id}}' \\\n  -H 'X-Client-Secret: {{client secret}}' \\"
        samples-languages:
        - curl
      tags:
      - Authorize
components:
  schemas:
    inline_response_200_10:
      type: object
      properties:
        status:
          type: string
          example: SUCCESS
        subCode:
          type: string
          example: '200'
        message:
          type: string
          example: Token is valid
    inline_response_401:
      type: object
      properties:
        status:
          type: string
          example: ERROR
        subCode:
          type: string
          example: '401'
        message:
          type: string
          example: Invalid clientId and clientSecret combination
  parameters:
    xRequestIDHeader:
      in: header
      name: x-request-id
      description: It is the request ID for the API call. This ID can be used to resolve tech realted issues. Communicate this in your tech related queries to Cashfree Payments.
      required: false
      schema:
        type: string
      example: 4dfb9780-46fe-11ee-be56-0242ac120002
    apiVersionHeader:
      in: header
      name: x-api-version
      description: It is the API version to be used. The accepted format is YYYY-MM-DD.
      schema:
        type: string
        description: It is the API version to be used.
        default: '2024-01-01'
      example: '2024-01-01'
  securitySchemes:
    XClientID:
      type: apiKey
      in: header
      name: x-client-id
      description: Client ID. You can find your app id in the [Merchant Dashboard](https://merchant.cashfree.com/payouts/developers/api-keys).
    XClientSecret:
      type: apiKey
      in: header
      name: x-client-secret
      description: Client secret key. You can find your secret in the [Merchant Dashboard](https://merchant.cashfree.com/payouts/developers/api-keys).
externalDocs:
  url: https://api.cashfree.com/payout
  description: This url will have the information of all the APIs.
