openapi: 3.2.0
info:
  version: '2024-01-01'
  title: Cashfree Payout Get Cashgram Status API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    email: developers@cashfree.com
    name: API Support
    url: https://discord.com/invite/QdZkNSxXsB
  description: Cashfree's Payout APIs provide developers with a streamlined pathway to integrate advanced payout capabilities into their applications, platforms and websites.
servers:
- url: https://sandbox.cashfree.com/payout
  description: Sandbox server
- url: https://api.cashfree.com/payout
  description: Production server
tags:
- name: GetCashgramStatus
paths:
  /v1/getCashgramStatus:
    get:
      summary: Get Cashgram Status
      x-mcp:
        enabled: true
      description: Use this API to get the status of the Cashgram created.
      operationId: get-cashgram-status1
      parameters:
      - name: Authorization
        in: header
        description: Bearer auth token
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: cashgramId
        in: query
        description: ID of the Cashgram
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        '422':
          description: '422'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404_4'
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl -X GET \\\n  'http://{{Host%20Url}}/payout/v1/getCashgramStatus?cashgramId=JOHaN10' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{Token}}'"
        - language: text
          code: "const cfSdk = require('cashfree-sdk');\nconst {Cashgram} = cfSdk.Payouts;\n\nconst response = await Cashgram.GetCashgramStatus({\n            cashgramId: \"JOHaN10\"\n        });"
          name: Node
        - language: java
          code: "import com.cashfree.lib.clients.Payouts;\nimport com.cashfree.lib.clients.Cashgram;\nimport com.cashfree.lib.domains.CashgramDetails\nPayouts payouts = Payouts.getInstance(\n    Environment.PRODUCTION, \"<client_id>\", \"<client_secret>\");\npayouts.init();\nCashgram cashgram = new Cashgram(payouts);\ncashgram.getCashgramStatus(\"JOHaN10\");\n}"
        - language: python
          code: 'from cashfree_sdk.payouts import Payouts

            from cashfree_sdk.payouts.cashgram import Cashgram

            status = Cashgram.get_cashgram_status(cashgramId="JOHaN10")'
        samples-languages:
        - curl
        - text
        - java
        - python
      tags:
      - GetCashgramStatus
components:
  schemas:
    inline_response_200_11_data:
      type: object
      properties:
        cashgramStatus:
          type: string
          example: ACTIVE
        referenceId:
          type: integer
          example: 123456
          default: 0
        cashgramId:
          type: string
          example: JOHaN10
        cashgramLink:
          type: string
          example: http://csgr.am/abcdefg
    inline_response_200_11:
      type: object
      properties:
        status:
          type: string
          example: SUCCESS
        subCode:
          type: string
          example: '200'
        message:
          type: string
          example: Cashgram details retrieved
        data:
          $ref: '#/components/schemas/inline_response_200_11_data'
    inline_response_404_4:
      type: object
      properties:
        status:
          type: string
          example: ERROR
        subCode:
          type: string
          example: '404'
        message:
          type: string
          example: Cashgram with id JOHaN10 does not exists
  securitySchemes:
    XClientID:
      type: apiKey
      in: header
      name: x-client-id
      description: Client ID. You can find your app id in the [Merchant Dashboard](https://merchant.cashfree.com/payouts/developers/api-keys).
    XClientSecret:
      type: apiKey
      in: header
      name: x-client-secret
      description: Client secret key. You can find your secret in the [Merchant Dashboard](https://merchant.cashfree.com/payouts/developers/api-keys).
externalDocs:
  url: https://api.cashfree.com/payout
  description: This url will have the information of all the APIs.
