openapi: 3.0.0
info:
  version: '2025-01-01'
  title: Cashfree Payment Gateway APIs Authorize Orders API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    email: developers@cashfree.com
    name: API Support
    url: https://discord.com/invite/QdZkNSxXsB
  description: Cashfree's Payment Gateway APIs provide developers with a streamlined pathway to integrate advanced payment processing capabilities into their applications, platforms and websites.
servers:
- url: https://sandbox.cashfree.com/pg
  description: Sandbox server
- url: https://api.cashfree.com/pg
  description: Production server
tags:
- name: Orders
  description: Collection of APIs to handle orders.
paths:
  /orders:
    post:
      summary: Create Order
      x-mcp:
        enabled: true
        config:
          elicitation:
            $ref: '#/components/x-elicitationConfig/createOrder'
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      description: "### Order\nAn order is an entity which has a amount and currency associated with it. It is something for which you want to collect payment for.\nUse this API to create orders with Cashfree from your backend to get a `payment_sessions_id`. \nYou can use the `payment_sessions_id` to create a transaction for the order.\n"
      tags:
      - Orders
      operationId: PGCreateOrder
      deprecated: false
      parameters:
      - $ref: '#/components/parameters/apiVersionHeader'
      - $ref: '#/components/parameters/xRequestIDHeader'
      - $ref: '#/components/parameters/xIdempotencyKeyHeader'
      requestBody:
        $ref: '#/components/requestBodies/CreateOrderRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderEntity'
          headers:
            x-api-version:
              $ref: '#/components/headers/x-api-version'
            x-ratelimit-limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            x-ratelimit-remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            x-ratelimit-retry:
              $ref: '#/components/headers/x-ratelimit-retry'
            x-ratelimit-type:
              $ref: '#/components/headers/x-ratelimit-type'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            x-idempotency-key:
              $ref: '#/components/headers/x-idempotency-key'
            x-idempotency-replayed:
              $ref: '#/components/headers/x-idempotency-replayed'
        '400':
          $ref: '#/components/responses/Response400'
        '401':
          $ref: '#/components/responses/Response401'
        '404':
          $ref: '#/components/responses/Response404'
        '409':
          $ref: '#/components/responses/Response409'
        '422':
          $ref: '#/components/responses/Response422'
        '429':
          $ref: '#/components/responses/Response429'
        '500':
          $ref: '#/components/responses/Response500'
  /orders/{order_id}:
    get:
      summary: Get Order
      x-mcp:
        enabled: true
      description: "Use this API to fetch the order that was created at Cashfree's using the `order_id`. \n## When to use this API\n- To check the status of your order\n- Once the order is PAID\n- Once your customer returns to `return_url`\n"
      tags:
      - Orders
      operationId: PGFetchOrder
      deprecated: false
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      parameters:
      - $ref: '#/components/parameters/apiVersionHeader'
      - $ref: '#/components/parameters/xRequestIDHeader'
      - $ref: '#/components/parameters/orderIDParam'
      - $ref: '#/components/parameters/xIdempotencyKeyHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderEntity'
          headers:
            x-api-version:
              $ref: '#/components/headers/x-api-version'
            x-ratelimit-limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            x-ratelimit-remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            x-ratelimit-retry:
              $ref: '#/components/headers/x-ratelimit-retry'
            x-ratelimit-type:
              $ref: '#/components/headers/x-ratelimit-type'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            x-idempotency-key:
              $ref: '#/components/headers/x-idempotency-key'
            x-idempotency-replayed:
              $ref: '#/components/headers/x-idempotency-replayed'
        '400':
          $ref: '#/components/responses/Response400'
        '401':
          $ref: '#/components/responses/Response401'
        '404':
          $ref: '#/components/responses/Response404'
        '409':
          $ref: '#/components/responses/Response409'
        '422':
          $ref: '#/components/responses/Response422'
        '429':
          $ref: '#/components/responses/Response429'
        '500':
          $ref: '#/components/responses/Response500'
    patch:
      summary: Terminate Order
      description: Use this API to terminate the order that was created at Cashfree's using the `order_id`.
      tags:
      - Orders
      operationId: PGTerminateOrder
      deprecated: false
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      parameters:
      - $ref: '#/components/parameters/apiVersionHeader'
      - $ref: '#/components/parameters/xRequestIDHeader'
      - $ref: '#/components/parameters/orderIDParam'
      - $ref: '#/components/parameters/xIdempotencyKeyHeader'
      requestBody:
        $ref: '#/components/requestBodies/TerminateOrderRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderEntity'
          headers:
            x-api-version:
              $ref: '#/components/headers/x-api-version'
            x-ratelimit-limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            x-ratelimit-remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            x-ratelimit-retry:
              $ref: '#/components/headers/x-ratelimit-retry'
            x-ratelimit-type:
              $ref: '#/components/headers/x-ratelimit-type'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            x-idempotency-key:
              $ref: '#/components/headers/x-idempotency-key'
            x-idempotency-replayed:
              $ref: '#/components/headers/x-idempotency-replayed'
        '400':
          $ref: '#/components/responses/Response400'
        '401':
          $ref: '#/components/responses/Response401'
        '404':
          $ref: '#/components/responses/Response404'
        '409':
          $ref: '#/components/responses/Response409'
        '422':
          $ref: '#/components/responses/Response422'
        '429':
          $ref: '#/components/responses/Response429'
        '500':
          $ref: '#/components/responses/Response500'
  /orders/{order_id}/extended:
    get:
      summary: Get Order Extended
      x-mcp:
        enabled: true
      description: 'Use this API to fetch the order related data like address,cart,offers,customer details etc using the Cashfree''s `order_id`.

        ## When to use this API

        - To get the extended data associated with order.

        - Once the order is PAID

        - Once your customer returns to `return_url`

        '
      tags:
      - Orders
      operationId: PGFetchOrderExtendedData
      deprecated: false
      security:
      - XClientID: []
        XClientSecret: []
      - XClientID: []
        XPartnerAPIKey: []
      - XClientID: []
        XClientSignatureHeader: []
      - XPartnerMerchantID: []
        XPartnerAPIKey: []
      parameters:
      - $ref: '#/components/parameters/apiVersionHeader'
      - $ref: '#/components/parameters/xRequestIDHeader'
      - $ref: '#/components/parameters/orderIDParam'
      - $ref: '#/components/parameters/xIdempotencyKeyHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderExtendedDataEntity'
          headers:
            x-api-version:
              $ref: '#/components/headers/x-api-version'
            x-ratelimit-limit:
              $ref: '#/components/headers/x-ratelimit-limit'
            x-ratelimit-remaining:
              $ref: '#/components/headers/x-ratelimit-remaining'
            x-ratelimit-retry:
              $ref: '#/components/headers/x-ratelimit-retry'
            x-ratelimit-type:
              $ref: '#/components/headers/x-ratelimit-type'
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            x-idempotency-key:
              $ref: '#/components/headers/x-idempotency-key'
            x-idempotency-replayed:
              $ref: '#/components/headers/x-idempotency-replayed'
        '400':
          $ref: '#/components/responses/Response400'
        '401':
          $ref: '#/components/responses/Response401'
        '404':
          $ref: '#/components/responses/Response404'
        '409':
          $ref: '#/components/responses/Response409'
        '422':
          $ref: '#/components/responses/Response422'
        '429':
          $ref: '#/components/responses/Response429'
        '500':
          $ref: '#/components/responses/Response500'
components:
  requestBodies:
    TerminateOrderRequest:
      description: Request body to terminate an order at cashfree
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TerminateOrderRequest'
    CreateOrderRequest:
      description: Request body to create an order at cashfree
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateOrderRequest'
          examples:
            order_minimum:
              $ref: '#/components/examples/order_minimum'
            order_orderid:
              $ref: '#/components/examples/order_orderid'
            order_customer:
              $ref: '#/components/examples/order_customer'
            order_with_return_url:
              $ref: '#/components/examples/order_with_return_url'
            order_with_payment_methods:
              $ref: '#/components/examples/order_with_payment_methods'
            order_expiry:
              $ref: '#/components/examples/order_expiry'
            order_note:
              $ref: '#/components/examples/order_note'
            order_tags:
              $ref: '#/components/examples/order_tags'
            order_splits_amount:
              $ref: '#/components/examples/order_splits_amount'
            order_splits_cent:
              $ref: '#/components/examples/order_splits_cent'
            order_invoice:
              $ref: '#/components/examples/order_invoice'
            order_customer_tpv:
              $ref: '#/components/examples/order_customer_tpv'
  examples:
    order_tags:
      summary: With order tags
      description: Add key value pairs to your order. Can be used later in your workflow
      value:
        order_id: playstation_purchase_6
        order_currency: INR
        order_amount: 10.34
        customer_details:
          customer_id: 7112AAA812234
          customer_phone: '9898989898'
        order_tags:
          address: Bengaluru, India
          pincode: '560034'
    order_orderid:
      summary: Specify your order_id
      description: You should always send `order_id`. If not sent Cashfree will generate one for you. This is useful during other api calls
      value:
        order_id: playstation_purchase_1
        order_currency: INR
        order_amount: 10.34
        customer_details:
          customer_id: 7112AAA812234
          customer_phone: '9908734801'
    order_extended_data_entity_list_example:
      description: OrderExtendedEntityDataExample
      summary: OrderExtendedEntityDataExample
      value:
      - cf_order_id: '2149460581'
        order_id: order_3242Tq4Edj9CC5RDcMeobmJOWOBJij
        order_amount: 22
        order_currency: INR
        created_at: '2023-08-11T18:02:46+05:30'
        charges:
          shipping_charges: 5
          cod_handling_charges: 10
        customer_details:
          customer_id: '409128494'
          customer_name: Aditya Keshri
          customer_email: pmlpayme@ntsas.com
          customer_phone: '9876543210'
          customer_uid: 54deabb4-ba45-4a60-9e6a-9c016fe7ab10
        shipping_address:
          name: Saurav Singh
          address_line_one: MK Building
          address_line_two: Test Address
          country: India
          country_code: IN
          state: Karnataka
          state_code: KA
          city: Bangalore
          pin_code: '560034'
          phone: +91 1118911189
          email: test@cashfree.com
        billing_address:
          name: Saurav Singh
          address_line_one: MK Building
          address_line_two: Test Address
          country: India
          country_code: IN
          state: Karnataka
          state_code: KA
          city: Bangalore
          pin_code: '560034'
          phone: +91 1118911189
          email: test@cashfree.com
        cart:
          name: test
          items:
          - item_id: '26'
            item_name: Sample Product
            item_description: item-description
            item_tags:
            - '1'
            - '2'
            item_details_url: http://cashfree.com
            item_image_url: http://cashfree.com
            item_original_unit_price: '1'
            item_discounted_unit_price: '1'
            item_quantity: 1
            item_currency: INR
          - item_id: '35'
            item_name: Sample Product
            item_description: item-description
            item_tags:
            - '1'
            - '2'
            item_details_url: http://cashfree.com
            item_image_url: http://cashfree.com
            item_original_unit_price: '1'
            item_discounted_unit_price: '1'
            item_quantity: 1
            item_currency: INR
        offer:
          offer_id: d2b430fb-1afe-455a-af31-66d00377b29a
          offer_status: active
          offer_meta:
            offer_title: some title
            offer_description: some offer description
            offer_code: CFTESTOFFER
            offer_start_time: '2023-03-21T08:09:51Z'
            offer_end_time: '2023-03-29T08:09:51Z'
          offer_tnc:
            offer_tnc_type: text
            offer_tnc_value: TnC for the Offer.
          offer_details:
            offer_type: DISCOUNT_AND_CASHBACK
            discount_details:
              discount_type: flat
              discount_value: '10'
              max_discount_amount: '10'
            cashback_details:
              cashback_type: percentage
              cashback_value: '20'
              max_cashback_amount: '150'
          offer_validations:
            min_amount: 10
            payment_method:
              wallet:
                issuer: paytm
            max_allowed: 2
    order_splits_amount:
      summary: With order split Amount
      description: Create an order where the amount received will be split between vendor and merchant based on absolute amount.
      value:
        order_id: playstation_purchase_8
        order_currency: INR
        order_amount: 10.34
        customer_details:
          customer_id: 7112AAA812234
          customer_phone: '9898989898'
        order_splits:
        - vendor_id: Jane
          amount: 1.45
          tags:
            address: Hyderabad
        - vendor_id: Barbie
          amount: 3.45
          tags:
            address: Bengaluru, India
    order_splits_cent:
      summary: With order split Percentage
      description: "Create an order where the amount received will be split between vendors and merchant based on percentage.\nIn the below example order amount, let us say INR 200 will be divided like this\n- 33% to merchant becomes INR 66 \n- 20% to Jane becomes INR 40\n- 47% to Barbie becomes INR 94\n"
      value:
        order_id: playstation_purchase_8
        order_currency: INR
        order_amount: 10.34
        customer_details:
          customer_id: 7112AAA812234
          customer_phone: '9898989898'
        order_splits:
        - vendor_id: Jane
          percentage: 20
        - vendor_id: Barbie
          percentage: 47
    order_customer:
      summary: Customer Details
      description: Complete customer details
      value:
        order_id: playstation_purchase_1
        order_currency: INR
        order_amount: 10.34
        customer_details:
          customer_id: 7112AAA812234
          customer_phone: '9908734801'
          customer_email: john@example.com
          customer_name: John Doe
    order_expiry:
      summary: With future expiry time for order
      description: Add an exipry time for your order. No transactions would be accepted after the order has expired
      value:
        order_id: playstation_purchase_5
        order_currency: INR
        order_amount: 10.34
        order_expiry_time: '2021-07-29T00:00:00.000Z'
        customer_details:
          customer_id: 7112AAA812234
          customer_phone: '9898989898'
    order_with_payment_methods:
      summary: With Payment Methods URL
      description: add payment methods, customer can pnly pay using these payment methods only
      value:
        order_id: playstation_purchase_4
        order_currency: INR
        order_amount: 10.34
        customer_details:
          customer_id: 7112AAA812234
          customer_phone: '9898989898'
        order_meta:
          return_url: https://www.cashfree.com/devstudio/thankyou
          payment_methods: cc,dc,upi
    order_minimum:
      summary: Minimun required details
      description: Minimum set of parameters needed to create an order at cashfree
      value:
        order_currency: INR
        order_amount: 10.34
        customer_details:
          customer_id: 7112AAA812234
          customer_phone: '9898989898'
    order_customer_tpv:
      summary: Customer TPV
      description: Customer with bank details if provided he or she can pay by only that bank account
      value:
        order_id: playstation_purchase_1
        order_currency: INR
        order_amount: 10.34
        customer_details:
          customer_id: 7112AAA812234
          customer_name: John Doe
          customer_phone: '9908734801'
          customer_email: john@example.com
          customer_bank_ifsc: XDFC0000045
          customer_bank_account_number: '123124123123123'
          customer_bank_code: 3021
    order_with_return_url:
      summary: With return/callback URL
      description: add a return url to your order
      value:
        order_id: playstation_purchase_2
        order_currency: INR
        order_amount: 10.34
        customer_details:
          customer_id: 7112AAA812234
          customer_phone: '9898989898'
        order_meta:
          return_url: https://www.cashfree.com/devstudio/thankyou
    order_entity_list_example:
      description: OrderEntityListExample
      summary: OrderEntityListExample
      value:
      - cf_order_id: '2149460581'
        created_at: '2023-08-11T18:02:46+05:30'
        customer_details:
          customer_id: '409128494'
          customer_name: Johmn Doe
          customer_email: pmlpayme@ntsas.com
          customer_phone: '9876543210'
          customer_uid: 54deabb4-ba45-4a60-9e6a-9c016fe7ab10
        entity: order
        order_amount: 22
        payment_session_id: session_a1VXIPJo8kh7IBigVXX8LgTMupQW_cu25FS8KwLwQLOmiHqbBxq5UhEilrhbDSKKHA6UAuOj9506aaHNlFAHEqYrHSEl9AVtYQN9LIIc4vkH
        order_currency: INR
        order_expiry_time: '2023-09-09T18:02:46+05:30'
        order_id: order_3242Tq4Edj9CC5RDcMeobmJOWOBJij
        order_meta:
          return_url: https://www.cashfree.com/devstudio/thankyou
          payment_methods: cc
          notify_url: https://example.com/cf_notify
        order_note: some order note LIST
        order_splits: []
        order_status: ACTIVE
        order_tags:
          name: John
          age: '19'
        terminal_data: null
        cart_details:
          cart_id: '1'
    order_note:
      summary: With additonal note
      description: Add an additional note for your order which you can later use. It has to be string. For more detailed data use `order_tags`
      value:
        order_id: playstation_purchase_6
        order_currency: INR
        order_amount: 10.34
        order_note: John buying playstation
        customer_details:
          customer_id: 7112AAA812234
          customer_phone: '9898989898'
    order_invoice:
      summary: With order invoice
      description: Add invoice details for your order
      value:
        order_id: playstation_purchase_6
        order_currency: INR
        order_amount: 10.34
        customer_details:
          customer_id: 7112AAA812234
          customer_phone: '9898989898'
        order_tags:
          gst: '1'
          gstin: 27AAFCN5072P1ZV
          invoice_date: '2023-06-20T04:35:16.748Z'
          invoice_number: inv1687149916474
          invoice_link: https://example.com/cf/nextgen.php#section-2
          invoice_name: Walters Invoice
          cgst: '1'
          sgst: '1'
          igst: '1'
          cess: '1'
          gst_incentive: '1'
          gst_percentage: '1'
          pincode: '560034'
          city_tier: TIER1
  schemas:
    RateLimitError:
      title: RateLimitError
      description: Error when rate limit is breached for your api
      example:
        message: Too many requests from IP. Check headers
        code: request_failed
        type: rate_limit_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        type:
          type: string
          enum:
          - rate_limit_error
          description: rate_limit_error
    CustomerDetailsResponse:
      title: CustomerDetailsResponse
      description: The customer details that are necessary. Note that you can pass dummy details if your use case does not require the customer details.
      example:
        customer_id: 7112AAA812234
        customer_email: john@cashfree.com
        customer_phone: '9908734801'
        customer_name: John Doe
        customer_bank_account_number: '1518121112'
        customer_bank_ifsc: XITI0000001
        customer_bank_code: 3333
        customer_uid: 54deabb4-ba45-4a60-9e6a-9c016fe7ab10
      type: object
      properties:
        customer_id:
          type: string
          description: A unique identifier for the customer. Use alphanumeric values only.
          minLength: 3
          maxLength: 50
        customer_email:
          type: string
          description: Customer email address.
          minLength: 3
          maxLength: 100
        customer_phone:
          type: string
          description: Customer phone number.
          minLength: 10
          maxLength: 10
        customer_name:
          type: string
          description: Name of the customer.
          minLength: 3
          maxLength: 100
        customer_bank_account_number:
          type: string
          description: Customer bank account. Required if you want to do a bank account check (TPV)
          minLength: 3
          maxLength: 20
        customer_bank_ifsc:
          type: string
          description: Customer bank IFSC. Required if you want to do a bank account check (TPV)
        customer_bank_code:
          type: number
          description: Customer bank code. Required for net banking payments, if you want to do a bank account check (TPV)
        customer_uid:
          type: string
          description: Customer identifier at Cashfree. You will get this when you create/get customer
    OrderEntity:
      title: OrderEntity
      type: object
      description: The complete order entity
      example:
        $ref: '#/components/examples/order_entity_list_example/value/0'
      properties:
        cf_order_id:
          type: string
          description: unique id generated by cashfree for your order
        order_id:
          type: string
          description: order_id sent during the api request
        entity:
          type: string
          description: Type of the entity.
        order_currency:
          type: string
          description: Currency of the order. Example INR
        order_amount:
          type: number
        order_status:
          type: string
          description: "Possible values are \n- `ACTIVE`: Order does not have a sucessful transaction yet\n- `PAID`: Order is PAID with one successful transaction\n- `EXPIRED`: Order was not PAID and not it has expired. No transaction can be initiated for an EXPIRED order.\n`TERMINATED`: Order terminated\n`TERMINATION_REQUESTED`: Order termination requested"
        payment_session_id:
          type: string
        order_expiry_time:
          type: string
          format: date-time
        order_note:
          type: string
          description: Additional note for order
        created_at:
          type: string
          format: date-time
          description: When the order was created at cashfree's server
          example: '2022-08-16T14:45:38+05:30'
        order_splits:
          type: array
          items:
            $ref: '#/components/schemas/VendorSplit'
        customer_details:
          $ref: '#/components/schemas/CustomerDetailsResponse'
        order_meta:
          $ref: '#/components/schemas/OrderMeta'
        order_tags:
          $ref: '#/components/schemas/OrderTags'
        cart_details:
          $ref: '#/components/schemas/CartDetailsEntity'
        terminal_data:
          $ref: '#/components/schemas/TerminalData'
        products:
          type: object
          description: Configurations for the products like One Click Checkout, Verify and Pay, if they are enabled for your account
          properties:
            one_click_checkout:
              $ref: '#/components/schemas/ProductDetailsEntity'
            verify_pay:
              $ref: '#/components/schemas/ProductDetailsEntity'
    OfferMeta:
      title: OfferMeta
      type: object
      description: Offer meta details object
      example:
        offer_title: some title
        offer_description: some offer description
        offer_code: CFTESTOFFER
        offer_start_time: '2023-03-21T08:09:51Z'
        offer_end_time: '2023-03-29T08:09:51Z'
      properties:
        offer_title:
          type: string
          description: Title for the Offer.
          minLength: 3
          maxLength: 50
          example: Test Offer
        offer_description:
          type: string
          description: Description for the Offer.
          minLength: 3
          maxLength: 100
          example: Lorem ipsum dolor sit amet, consectetur adipiscing elit
        offer_code:
          type: string
          description: Unique identifier for the Offer.
          minLength: 1
          maxLength: 45
          example: CFTESTOFFER
        offer_start_time:
          type: string
          description: Start Time for the Offer
          minLength: 3
          maxLength: 20
          example: '2023-03-21T08:09:51Z'
        offer_end_time:
          type: string
          description: Expiry Time for the Offer
          example: '2023-03-29T08:09:51Z'
      required:
      - offer_title
      - offer_description
      - offer_code
      - offer_start_time
      - offer_end_time
    OfferTnc:
      title: OfferMeta
      type: object
      description: Offer terms and condition object
      example:
        offer_tnc_type: text
        offer_tnc_value: TnC for the Offer.
      properties:
        offer_tnc_type:
          type: string
          description: TnC Type for the Offer. It can be either `text` or `link`
          enum:
          - text
          - link
          minLength: 3
          maxLength: 50
          example: text
        offer_tnc_value:
          type: string
          description: TnC for the Offer.
          minLength: 3
          maxLength: 100
          example: Lorem ipsum dolor sit amet, consectetur adipiscing elit
      required:
      - offer_tnc_type
      - offer_tnc_value
    TerminalDetails:
      description: Use this if you are creating an order for cashfree's softPOS
      example:
        added_on: '2023-08-04T13:12:58+05:30'
        cf_terminal_id: '31051123'
        last_updated_on: '2023-09-06T14:07:00+05:30'
        terminal_address: Banglore
        terminal_id: terminal-123
        terminal_name: test
        terminal_note: POS vertical
        terminal_phone_no: '6309291183'
        terminal_status: ACTIVE
        terminal_type: SPOS
      properties:
        added_on:
          description: date time at which terminal is added
          type: string
        cf_terminal_id:
          description: Cashfree terminal id, this is a required parameter when you do not provide the terminal phone number.
          type: string
        last_updated_on:
          description: last instant when this terminal was updated
          type: string
        terminal_address:
          description: location of terminal
          type: string
        terminal_id:
          description: terminal id for merchant reference
          maxLength: 100
          minLength: 3
          type: string
        terminal_name:
          description: name of terminal/agent/storefront
          type: string
        terminal_note:
          description: note given by merchant while creating the terminal
          type: string
        terminal_phone_no:
          description: mobile num of the terminal/agent/storefront,This is a required parameter when you do not provide the cf_terminal_id.
          type: string
        terminal_status:
          description: status of terminal active/inactive
          type: string
        terminal_type:
          description: To identify the type of terminal product in use, in this case it is SPOS.
          maxLength: 10
          minLength: 4
          type: string
      required:
      - terminal_type
      title: Terminal
      type: object
    OfferEMI:
      title: EMI Offer
      description: EMI offer object
      type: object
      example:
        emi:
          type: cardless_emi
          issuer: hdfc bank
          tenures:
          - 3
          - 6
      properties:
        emi:
          title: EMI Offer
          type: object
          properties:
            type:
              type: string
              description: Type of emi offer. Possible values are `credit_card_emi`, `debit_card_emi`, `cardless_emi`
              minLength: 3
              maxLength: 100
              example: cardless_emi
            issuer:
              type: string
              description: Bank Name
              minLength: 3
              maxLength: 100
              example: hdfc bank
            tenures:
              type: array
              items:
                title: Tenure Array
                type: integer
                example: 3
          required:
          - type
          - issuer
          - tenures
      required:
      - emi
    OfferWallet:
      title: Wallet Offer
      description: Offer object for wallet payment method
      example:
        app:
          issuer: paytm
      type: object
      properties:
        app:
          title: Wallet Offer
          type: object
          properties:
            provider:
              type: string
              example: paytm
      required:
      - app
    ExtendedCartDetails:
      title: CartDetails
      description: The cart details that are necessary like shipping address, billing address and more.
      type: object
      properties:
        name:
          type: string
          description: Name of the cart.
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
    CardArray:
      title: card array
      description: short code for credit card, debit card, prepaid card
      type: string
      example: dc
    CreateOrderRequest:
      title: CreateOrderRequest
      description: Request body to create an order at cashfree
      type: object
      properties:
        order_id:
          type: string
          description: Order identifier present in your system. Alphanumeric, '_' and '-' only
          minLength: 3
          maxLength: 45
          example: your-order-id
        order_amount:
          type: number
          description: Bill amount for the order. Provide upto two decimals. 10.15 means Rs 10 and 15 paisa
          format: double
          example: 10.15
          minimum: 1
        order_currency:
          type: string
          description: Currency for the order. INR if left empty. Contact care@cashfree.com to enable new currencies.
          example: INR
        cart_details:
          allOf:
          - $ref: '#/components/schemas/CartDetails'
        customer_details:
          allOf:
          - $ref: '#/components/schemas/CustomerDetails'
          example:
            customer_id: 7112AAA812234
            customer_email: john@cashfree.com
            customer_phone: '9908734801'
        terminal:
          allOf:
          - $ref: '#/components/schemas/TerminalDetails'
          example:
            terminal_phone_no: '6309291183'
            terminal_id: terminal-1212
            terminal_type: SPOS
        order_meta:
          allOf:
          - $ref: '#/components/schemas/OrderMeta'
          example:
            return_url: https://www.cashfree.com/devstudio/thankyou
            payment_methods: cc,dc
        order_expiry_time:
          type: string
          format: ISO8601
          description: Time after which the order expires. Customers will not be able to make the payment beyond the time specified here. We store timestamps in IST, but you can provide them in a valid ISO 8601 time format. Example 2021-07-02T10:20:12+05:30 for IST, 2021-07-02T10:20:12Z for UTC
          example: '2021-07-02T10:20:12+05:30'
        order_note:
          type: string
          description: Order note for reference.
          example: Test order
          minLength: 3
          maxLength: 200
        order_tags:
          allOf:
          - $ref: '#/components/schemas/OrderTags'
          example:
            name: John Doe
            city: Bangalore
        order_splits:
          type: array
          description: If you have Easy split enabled in your Cashfree account then you can use this option to split the order amount.
          items:
            $ref: '#/components/schemas/VendorSplit'
          example:
          - amount: 10
            vendor: john
        products:
          title: products
          type: object
          description: Use this to set configurations for the products like One Click Checkout, Verify and Pay, if they are enabled for your account
          properties:
            one_click_checkout:
              allOf:
              - $ref: '#/components/schemas/ProductDetails'
            verify_pay:
              allOf:
              - $ref: '#/components/schemas/ProductDetails'
      required:
      - order_amount
      - order_currency
      - customer_details
    CartDetails:
      title: CartDetails
      description: The cart details that are necessary like shipping address, billing address and more.
      type: object
      properties:
        customer_note:
          type: string
        shipping_charge:
          type: number
          format: double
        cart_name:
          type: string
          description: Name of the cart.
        customer_shipping_address:
          $ref: '#/components/schemas/CartAddress'
        customer_billing_address:
          $ref: '#/components/schemas/CartAddress'
        cart_items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
    OfferCard:
      title: Card Offer
      description: Offers related to cards
      example:
        card:
          type:
          - cc
          bank_name: hdfc bank
          scheme_name:
          - visa
      type: object
      properties:
        card:
          title: Card Offer
          type: object
          properties:
            type:
              type: array
              items:
                $ref: '#/components/schemas/CardArray'
            bank_name:
              type: string
              description: Bank Name of Card.
              minLength: 3
              maxLength: 100
              example: hdfc bank
            scheme_name:
              type: array
              items:
                $ref: '#/components/schemas/SchemeArray'
          required:
          - type
          - bank_name
          - scheme_name
      required:
      - card
    BadRequestError:
      title: BadRequestError
      description: Invalid request received from client
      example:
        message: bad URL, please check API documentation
        code: request_failed
        type: invalid_request_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        help:
          type: string
        type:
          type: string
          enum:
          - invalid_request_error
    OfferUPI:
      title: UPI Offer
      description: Offer object for UPI
      example:
        upi: {}
      type: object
      properties:
        upi:
          title: UPI Offer
          type: object
      required:
      - upi
    DiscountDetails:
      title: DiscountDetails
      description: detils of the discount object of offer
      example:
        discount_type: flat
        discount_value: '10'
        max_discount_amount: '10'
      type: object
      properties:
        discount_type:
          type: string
          description: Type of discount
          enum:
          - flat
          - percentage
          minLength: 3
          maxLength: 50
        discount_value:
          type: number
          format: float64
          description: Value of Discount.
        max_discount_amount:
          type: number
          format: float64
          description: Maximum Value of Discount allowed.
      required:
      - discount_type
      - discount_value
      - max_discount_amount
    ProductDetails:
      type: object
      description: Specify the required configurations for this feature
      properties:
        enabled:
          type: boolean
          description: Option to enable or disable the feature
        conditions:
          type: array
          description: The conditions array allows to configure rules by adding condition objects with specific parameters for feature configurations.
          items:
            $ref: '#/components/schemas/ProductConditions'
    OfferDetails:
      title: OfferDetails
      description: Offer details and type
      type: object
      example:
        offer_type: DISCOUNT_AND_CASHBACK
        discount_details:
          discount_type: flat
          discount_value: '10'
          max_discount_amount: '10'
        cashback_details:
          cashback_type: percentage
          cashback_value: '20'
          max_cashback_amount: '150'
      properties:
        offer_type:
          type: string
          description: Offer Type for the Offer.
          enum:
          - DISCOUNT
          - CASHBACK
          - DISCOUNT_AND_CASHBACK
          - NO_COST_EMI
          minLength: 3
          maxLength: 50
          example: DISCOUNT_AND_CASHBACK
        discount_details:
          $ref: '#/components/schemas/DiscountDetails'
        cashback_details:
          $ref: '#/components/schemas/CashbackDetails'
      required:
      - offer_type
    IdempotencyError:
      title: IdempotencyError
      description: Error when idempotency fails. Different request body with the same idempotent key
      example:
        message: something is not found
        code: request_invalid
        type: idempotency_error
      type: object
      properties:
        message:
          type: string
        help:
          type: string
        code:
          type: string
        type:
          type: string
          enum:
          - idempotency_error
          description: idempotency_error
    TerminalData:
      description: Terminal Data in the create order response
      example:
        agent_mobile_number: '9876543214'
        cf_terminal_id: 1838
        merchant_terminal_id: ahdsgadjhgfaj7137e
        terminal_type: STOREFRONT
      properties:
        agent_mobile_number:
          type: string
        cf_terminal_id:
          type: integer
        merchant_terminal_id:
          type: string
        terminal_type:
          type: string
      title: TerminalData
      type: object
    OrderExtendedDataEntity:
      title: OrderExtendedDataEntity
      type: object
      description: The complete order extended data entity
      example:
        $ref: '#/components/examples/order_extended_data_entity_list_example/value/0'
      properties:
        cf_order_id:
          type: string
          description: unique id generated by cashfree for your order
        order_id:
          type: string
          description: order_id sent during the api request
        order_amount:
          type: number
        order_currency:
          type: string
          description: Currency of the order. Example INR
        created_at:
          type: string
          format: date-time
          description: When the order was created at cashfree's server
          example: '2022-08-16T14:45:38+05:30'
        charges:
          $ref: '#/components/schemas/ChargesEntity'
        customer_details:
          $ref: '#/components/schemas/ExtendedCustomerDetails'
        shipping_address:
          $ref: '#/components/schemas/AddressDetails'
        billing_address:
          $ref: '#/components/schemas/AddressDetails'
        cart:
          $ref: '#/components/schemas/ExtendedCartDetails'
        offer:
          $ref: '#/components/schemas/OfferExtendedDetails'
    CartAddress:
      title: CartAddress
      description: Address given for cart details.
      properties:
        full_name:
          type: string
        country:
          type: string
        city:
          type: string
        state:
          type: string
        pincode:
          type: string
        address_1:
          type: string
        address_2:
          type: string
    OfferExtendedDetails:
      title: OfferEntity
      type: object
      description: Details of the offer which got applied to the paid order.
      properties:
        offer_id:
          type: string
          example: d2b430fb-1afe-455a-af31-66d00377b29a
        offer_status:
          type: string
          example: active
        offer_meta:
          allOf:
          - $ref: '#/components/schemas/OfferMeta'
          example:
            $ref: '#/components/schemas/OfferMeta/example'
        offer_tnc:
          allOf:
          - $ref: '#/components/schemas/OfferTnc'
          example:
            $ref: '#/components/schemas/OfferTnc/example'
        offer_details:
          allOf:
          - $ref: '#/components/schemas/OfferDetails'
          example:
            $ref: '#/components/schemas/OfferDetails/example'
        offer_validations:
          allOf:
          - $ref: '#/components/schemas/OfferValidations'
          example:
            $ref: '#/components/schemas/OfferValidations/example'
    ProductConditions:
      type: object
      properties:
        action:
          type: string
          description: The Action key in the conditions array specifies whether a condition should "ALLOW" or "DENY" the specified rule or feature
        key:
          type: string
          description: Specify what you're trying to configure, such as "features"
          maxLength: 50
        values:
          type: array
          description: Define the values you need to set within the conditions in this array, such as "checkoutCollectAddress", "checkoutAuthenticate"
          maxItems: 10
          items:
            type: string
    SchemeArray:
      title: Scheme array
      type: string
      example: visa
      description: array of card schemes like visa, master etc
    CustomerDetails:
      title: CustomerDetails
      description: The customer details that are necessary. Note that you can pass dummy details if your use case does not require the customer details.
      example:
        customer_id: 7112AAA812234
        customer_email: john@cashfree.com
        customer_phone: '9908734801'
        customer_name: John Doe
        customer_bank_account_number: '1518121112'
        customer_bank_ifsc: XITI0000001
        customer_bank_code: 3333
        customer_uid: 54deabb4-ba45-4a60-9e6a-9c016fe7ab10
      type: object
      properties:
        customer_id:
          type: string
          description: A unique identifier for the customer. Use alphanumeric values only.
          minLength: 3
          maxLength: 50
        customer_email:
          type: string
          description: Customer email address.
          minLength: 3
          maxLength: 100
        customer_phone:
          type: string
          description: Customer phone number.
          minLength: 10
          maxLength: 10
        customer_name:
          type: string
          description: Name of the customer.
          minLength: 3
          maxLength: 100
        customer_bank_account_number:
          type: string
          description: Customer bank account. Required if you want to do a bank account check (TPV)
          minLength: 3
          maxLength: 20
        customer_bank_ifsc:
          type: string
          description: Customer bank IFSC. Required if you want to do a bank account check (TPV)
        customer_bank_code:
          type: number
          description: Customer bank code. Required for net banking payments, if you want to do a bank account check (TPV)
        customer_uid:
          type: string
          description: Customer identifier at Cashfree. You will get this when you create/get customer
      required:
      - customer_id
      - customer_phone
    ApiError409:
      title: ApiError409
      description: duplicate request
      example:
        message: order with same id is already present
        code: order_already_exists
        type: invalid_request_error
      type: object
      properties:
        message:
          type: string
        help:
          type: string
        code:
          type: string
        type:
          type: string
          enum:
          - invalid_request_error
          description: invalid_request_error
    CartDetailsEntity:
      title: CartDetailsEntity
      description: Cart Details in the Order Entity Response
      type: object
      properties:
        cart_id:
          type: string
          description: ID of the cart that was created
    AuthenticationError:
      title: AuthenticationError
      description: Error if api keys are wrong
      example:
        message: authentication Failed
        code: request_failed
        type: authentication_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        type:
          type: string
          description: authentication_error
    AddressDetails:
      title: AddressDetails
      description: Address associated with the customer.
      type: object
      example:
        name: Aditya Keshri
        address_line_one: MK Building
        address_line_two: Test Address
        country: India
        country_code: IN
        state: Karnataka
        state_code: KA
        city: Bangalore
        pin_code: '560034'
        phone: +91 1118911189
        email: test@cashfree.com
      properties:
        name:
          type: string
          description: Full Name of the customer associated with the address.
        address_line_one:
          type: string
          description: First line of the address.
        address_line_two:
          type: string
          description: Second line of the address.
        country:
          type: string
          description: Country Name.
        country_code:
          type: string
          description: Country Code.
        state:
          type: string
          description: State Name.
        state_code:
          type: string
          description: State Code.
        city:
          type: string
          description: City Name.
        pin_code:
          type: string
          description: Pin Code/Zip Code.
        phone:
          type: string
          description: Customer Phone Number.
        email:
          type: string
          description: Cutomer Email Address.
    OfferPaylater:
      title: Paylater Offer
      description: Offer object for paylater
      example:
        paylater:
          issuer: lazypay
      type: object
      properties:
        paylater:
          title: Paylater Offer
          type: object
          properties:
            provider:
              type: string
              example: simpl
      required:
      - paylater
    OrderTags:
      type: object
      maxProperties: 15
      description: Custom Tags in thr form of {"key":"value"} which can be passed for an order. A maximum of 10 tags can be added
      additionalProperties:
        type: string
        minLength: 1
        maxLength: 255
      example:
        product: Laptop
        shipping_address: 123 Main St
    CashbackDetails:
      title: CashbackDetails
      description: Cashback detail boject
      example:
        cashback_type: percentage
        cashback_value: '20'
        max_cashback_amount: '150'
      type: object
      properties:
        cashback_type:
          type: string
          description: Type of discount
          enum:
          - flat
          - percentage
          minLength: 1
          maxLength: 50
        cashback_value:
          type: number
          format: float64
          description: Value of Discount.
        max_cashback_amount:
          type: number
          format: float64
          description: Maximum Value of Cashback allowed.
      required:
      - cashback_type
      - cashback_value
      - max_cashback_amount
    OfferValidations:
      title: OfferValidations
      description: Offer validation object
      type: object
      example:
        min_amount: 10
        payment_method:
          wallet:
            issuer: paytm
        max_allowed: 2
      properties:
        min_amount:
          type: number
          description: Minimum Amount for Offer to be Applicable
          minimum: 1
          example: 1
        max_allowed:
          type: number
          description: Maximum Amount for Offer to be Applicable
          minimum: 1
          example: 1
        payment_method:
          example:
            wallet:
              issuer: paytm
          oneOf:
          - $ref: '#/components/schemas/OfferAll'
          - $ref: '#/components/schemas/OfferCard'
          - $ref: '#/components/schemas/OfferNB'
          - $ref: '#/components/schemas/OfferWallet'
          - $ref: '#/components/schemas/OfferUPI'
          - $ref: '#/components/schemas/OfferPaylater'
          - $ref: '#/components/schemas/OfferEMI'
      required:
      - max_allowed
      - payment_method
    ProductDetailsEntity:
      type: object
      description: Configurations for this feature
      properties:
        enabled:
          type: boolean
          description: Whether the feature has been enabled for this order
        conditions:
          type: array
          description: Configured condtions for the feature
          items:
            $ref: '#/components/schemas/ProductConditionsEntity'
    VendorSplit:
      title: VendorSplit
      description: Use to split order when cashfree's Easy Split is enabled for your account.
      type: object
      example:
        vendor_id: Vendor01
        amount: 100.12
        description: order amount should be more than equal to 100.12
      properties:
        vendor_id:
          type: string
          description: Vendor id created in Cashfree system
        amount:
          type: number
          description: Amount which will be associated with this vendor
        percentage:
          type: number
          description: Percentage of order amount which shall get added to vendor account
        tags:
          type: object
          maxProperties: 15
          description: Custom Tags in thr form of {"key":"value"} which can be passed for an order. A maximum of 10 tags can be added
          additionalProperties:
            type: object
      required:
      - vendor_id
    OrderMeta:
      title: OrderMeta
      description: Optional meta details to control how the customer pays and how payment journey completes
      type: object
      properties:
        return_url:
          type: string
          example: https://www.cashfree.com/devstudio/thankyou
          description: 'The URL to which user will be redirected to after the payment on bank OTP page. Maximum length: 250. We suggest to keep context of order_id in your return_url so that you can identify the order when customer lands on your page. Example of return_url format could be https://www.cashfree.com/devstudio/thankyou'
        notify_url:
          type: string
          example: https://example.com/cf_notify
          description: 'Notification URL for server-server communication. Useful when user''s connection drops while re-directing. NotifyUrl should be an https URL. Maximum length: 250.'
        payment_methods:
          example: cc,dc,upi
          description: Allowed payment modes for this order. Pass comma-separated values among following options - "cc", "dc", "ccc", "ppc","nb","upi","paypal","app","paylater","cardlessemi","dcemi","ccemi","banktransfer". Leave it blank to show all available payment methods
        payment_methods_filters:
          description: Allowed payment modes for this order. Along with multiple filters for cards can be added to this key. And this filtering will be honoured during transaction creation.
          type: object
          properties:
            methods:
              description: Allowed payment modes for this order. credit_card, debit_card, netbanking, paylater, etc are the values that can be passed to this parameter.
              type: object
              properties:
                action:
                  type: string
                  description: It accepts value of "ALLOW" and allows only those modes present in it's neighbouring parameter "values"
                values:
                  type: array
                  items:
                    type: string
                  description: The accepted entries for this paramter are "debit_card, credit_card, prepaid_card, upi, wallet, netbanking, banktransfer, paylater, paypal, debit_card_emi, credit_card_emi, upi_credit_card, upi_ppi, cardless_emi, account_based_payment, corporate_credit_card, sbc_debit_card, sbc_emandate, sbc_upi, sbc_credit_card"
            filters:
              description: This object takes details of all the filtering that has to be done for this order. Filters on card bins, card schemes, card issuing bank and card suffixes
              type: object
              properties:
                card_bins:
                  description: Allowed card bins for the order
                  type: object
                  properties:
                    action:
                      type: string
                      description: It accepts value of "ALLOW" and allows only those bins present in it's neighbouring parameter "values"
                    values:
                      type: array
                      items:
                        type: string
                      description: List of card bins to be allowed for the order
                card_schemes:
                  description: Allowed card schemes for the order
                  type: object
                  properties:
                    action:
                      type: string
                      description: It accepts value of "ALLOW" and allows only those schemes present in it's neighbouring parameter "values"
                    values:
                      type: array
                      items:
                        type: string
                      description: List of card schemes to be allowed for the order
                card_suffix:
                  description: Allowed card suffixes for the order
                  type: object
                  properties:
                    action:
                      type: string
                      description: It accepts value of "ALLOW" and allows only those suffixes present in it's neighbouring parameter "values"
                    values:
                      type: array
                      items:
                        type: string
                      description: List of card suffixes to be allowed for the order
                card_issuing_bank:
                  description: Allowed card issuing bank for the order
                  type: object
                  properties:
                    action:
                      type: string
                      description: It accepts value of "ALLOW" and allows only those issuing bank present in it's neighbouring parameter "values"
                    values:
                      type: array
                      description: List of card issuing bank to be allowed for the order
                      items:
                        type: string
    ExtendedCustomerDetails:
      title: CustomerDetails
      description: Recent Customer details associated with the order.
      example:
        customer_id: 7112AAA812234
        customer_email: john@cashfree.com
        customer_phone: '9908734801'
        customer_name: John Doe
        customer_uid: 54deabb4-ba45-4a60-9e6a-9c016fe7ab10
      type: object
      properties:
        customer_id:
          type: string
          description: A unique identifier for the customer. Use alphanumeric values only.
          minLength: 3
          maxLength: 50
        customer_email:
          type: string
          description: Customer email address.
          minLength: 3
          maxLength: 100
        customer_phone:
          type: string
          description: Customer phone number.
          minLength: 10
          maxLength: 10
        customer_name:
          type: string
          description: Name of the customer.
          minLength: 3
          maxLength: 100
        customer_uid:
          type: string
          description: Customer identifier at Cashfree. You will get this when you create/get customer
    CartItem:
      title: CartItem
      description: Each item in the cart.
      properties:
        item_id:
          type: string
          description: Unique identifier of the item
        item_name:
          type: string
          description: Name of the item
        item_description:
          type: string
          description: Description of the item
        item_tags:
          type: array
          items:
            type: string
          description: Tags attached to that item
        item_details_url:
          type: string
          description: Item details url
        item_image_url:
          type: string
          description: Item image url
        item_original_unit_price:
          type: number
          format: double
          description: Original price
        item_discounted_unit_price:
          type: number
          format: double
          description: Discounted Price
        item_currency:
          type: string
          description: Currency of the item.
        item_quantity:
          type: number
          format: int32
          description: Quantity if that item
    OfferNB:
      title: Net Banking Offer
      description: Offer object ofr NetBanking
      example:
        netbanking:
          bank_name: hdfc bank
      type: object
      properties:
        netbanking:
          type: object
          properties:
            bank_name:
              type: string
              example: all
      required:
      - netbanking
    ApiError:
      title: ApiError
      description: Error at cashfree's server
      example:
        message: internal Server Error
        code: internal_error
        type: api_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        help:
          type: string
        type:
          type: string
          enum:
          - api_error
          description: api_error
    ApiError404:
      title: ApiError404
      description: Error when resource requested is not found
      example:
        message: something is not found
        code: somethind_not_found
        type: invalid_request_error
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        help:
          type: string
        type:
          type: string
          enum:
          - invalid_request_error
          description: invalid_request_error
    ProductConditionsEntity:
      type: object
      properties:
        action:
          type: string
          description: The Action key in the conditions array specifies whether a condition is allowed or denied for the specified rule or feature
        key:
          type: string
          description: key of the condition
          maxLength: 50
        values:
          type: array
          description: Values set for the condition
          maxItems: 10
          items:
            type: string
    TerminateOrderRequest:
      title: TerminateOrderRequest
      description: Request to terminate an active order at Cashfree
      example:
        order_status: TERMINATED
      type: object
      properties:
        order_status:
          type: string
          description: To terminate an order, pass order_status as "TERMINATED". Please note, order might not be terminated - confirm with the order_status in response. "TERMINATION_REQUESTED" states that the request is recieved and we are working on it. If the order terminates successfully, status will change to "TERMINATED". Incase there's any active transaction which moved to success - order might not get terminated.
      required:
      - order_status
    OfferAll:
      title: All Offers
      description: returns all offers
      example:
        all: {}
      type: object
      properties:
        all:
          $ref: '#/components/schemas/AllOffers'
      required:
      - all
    AllOffers:
      title: All Offers
      type: object
      description: All offers applicable
    ChargesEntity:
      title: ChargesEntity
      description: Charges accociated with the order
      type: object
      example:
        shipping_charges: 5
        cod_handling_charges: 10
      properties:
        shipping_charges:
          type: number
          description: Shipping charge of the order
        cod_handling_charges:
          type: number
          description: COD handling fee for order
  headers:
    x-ratelimit-type:
      schema:
        type: string
        enum:
        - app_id
        - ip
      example: ip
      description: 'either ip or app_id

        - `ip` if making a call from the browser. True for api where you don''t need `x-client-id` and `x-client-secret`

        - `app_id` for authenticated api calls i.e using `x-client-id` and `x-client-secret`

        '
    x-api-version:
      schema:
        type: string
        format: YYYY-MM-DD
        enum:
        - '2022-09-01'
      description: This header has the version of the API. The current version is `2022-09-01`.
    x-ratelimit-limit:
      schema:
        type: integer
      example: 200
      description: Ratelimit set for your account for this API per minute
    x-ratelimit-retry:
      schema:
        type: integer
      example: 4
      description: 'Contains number of seconds to wait if rate limit is breached

        - Is 0 if withing the limit

        - Is between 1 and 59 if breached

        '
    x-idempotency-replayed:
      schema:
        type: string
        format: boolean
      example: 'true'
      description: 'In conjunction with `x-idempotency-key` this means

        - `true` if the response was replayed

        - `false` if the response has not been replayed'
    x-request-id:
      schema:
        type: string
      example: some-req-id
      description: Request id for your api call. Is blank or null if no `x-request-id` is sent during the request
    x-idempotency-key:
      schema:
        type: string
      example: some-idem-id
      description: An idempotency key is a unique identifier you include with your API call. If the request fails or times out, you can safely retry it using the same key to avoid duplicate actions.
    x-ratelimit-remaining:
      schema:
        type: integer
      example: 2
      description: Rate limit remaning for your account for this API in the next minute. Uses sliding window
  responses:
    Response401:
      description: Authentication Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthenticationError'
      headers:
        x-api-version:
          $ref: '#/components/headers/x-api-version'
        x-ratelimit-limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        x-ratelimit-remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        x-ratelimit-retry:
          $ref: '#/components/headers/x-ratelimit-retry'
        x-ratelimit-type:
          $ref: '#/components/headers/x-ratelimit-type'
        x-request-id:
          $ref: '#/components/headers/x-request-id'
        x-idempotency-key:
          $ref: '#/components/headers/x-idempotency-key'
        x-idempotency-replayed:
          $ref: '#/components/headers/x-idempotency-replayed'
    Response404:
      description: Resource Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError404'
      headers:
        x-api-version:
          $ref: '#/components/headers/x-api-version'
        x-ratelimit-limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        x-ratelimit-remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        x-ratelimit-retry:
          $ref: '#/components/headers/x-ratelimit-retry'
        x-ratelimit-type:
          $ref: '#/components/headers/x-ratelimit-type'
        x-request-id:
          $ref: '#/components/headers/x-request-id'
        x-idempotency-key:
          $ref: '#/components/headers/x-idempotency-key'
        x-idempotency-replayed:
          $ref: '#/components/headers/x-idempotency-replayed'
    Response422:
      description: Idempotency error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IdempotencyError'
      headers:
        x-api-version:
          $ref: '#/components/headers/x-api-version'
        x-ratelimit-limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        x-ratelimit-remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        x-ratelimit-retry:
          $ref: '#/components/headers/x-ratelimit-retry'
        x-ratelimit-type:
          $ref: '#/components/headers/x-ratelimit-type'
        x-request-id:
          $ref: '#/components/headers/x-request-id'
        x-idempotency-key:
          $ref: '#/components/headers/x-idempotency-key'
        x-idempotency-replayed:
          $ref: '#/components/headers/x-idempotency-replayed'
    Response409:
      description: Resource already present
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError409'
      headers:
        x-api-version:
          $ref: '#/components/headers/x-api-version'
        x-ratelimit-limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        x-ratelimit-remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        x-ratelimit-retry:
          $ref: '#/components/headers/x-ratelimit-retry'
        x-ratelimit-type:
          $ref: '#/components/headers/x-ratelimit-type'
        x-request-id:
          $ref: '#/components/headers/x-request-id'
        x-idempotency-key:
          $ref: '#/components/headers/x-idempotency-key'
        x-idempotency-replayed:
          $ref: '#/components/headers/x-idempotency-replayed'
    Response400:
      description: Bad request error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
      headers:
        x-api-version:
          $ref: '#/components/headers/x-api-version'
        x-ratelimit-limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        x-ratelimit-remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        x-ratelimit-retry:
          $ref: '#/components/headers/x-ratelimit-retry'
        x-ratelimit-type:
          $ref: '#/components/headers/x-ratelimit-type'
        x-request-id:
          $ref: '#/components/headers/x-request-id'
        x-idempotency-key:
          $ref: '#/components/headers/x-idempotency-key'
        x-idempotency-replayed:
          $ref: '#/components/headers/x-idempotency-replayed'
    Response429:
      description: Rate Limit Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RateLimitError'
      headers:
        x-api-version:
          $ref: '#/components/headers/x-api-version'
        x-ratelimit-limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        x-ratelimit-remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        x-ratelimit-retry:
          $ref: '#/components/headers/x-ratelimit-retry'
        x-ratelimit-type:
          $ref: '#/components/headers/x-ratelimit-type'
        x-request-id:
          $ref: '#/components/headers/x-request-id'
        x-idempotency-key:
          $ref: '#/components/headers/x-idempotency-key'
        x-idempotency-replayed:
          $ref: '#/components/headers/x-idempotency-replayed'
    Response500:
      description: API related Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
      headers:
        x-api-version:
          $ref: '#/components/headers/x-api-version'
        x-ratelimit-limit:
          $ref: '#/components/headers/x-ratelimit-limit'
        x-ratelimit-remaining:
          $ref: '#/components/headers/x-ratelimit-remaining'
        x-ratelimit-retry:
          $ref: '#/components/headers/x-ratelimit-retry'
        x-ratelimit-type:
          $ref: '#/components/headers/x-ratelimit-type'
        x-request-id:
          $ref: '#/components/headers/x-request-id'
        x-idempotency-key:
          $ref: '#/components/headers/x-idempotency-key'
        x-idempotency-replayed:
          $ref: '#/components/headers/x-idempotency-replayed'
  x-elicitationConfig:
    createOrder:
      enabled: true
      fields:
        order_amount:
          required: true
          message: Please provide the total order amount
          schema:
            type: number
            title: Order Amount
            description: Total amount for the order (minimum 1 INR)
            minimum: 1
          mapping:
            target: body.order_amount
            transform: number
        customer_phone:
          required: true
          message: Please provide the customer's phone number
          schema:
            type: string
            title: Customer Phone
            description: Phone number of the customer in international format without '+' sign
            pattern: ^[1-9][0-9]{7,14}$
          mapping:
            target: body.customer_details.customer_phone
            transform: string
  parameters:
    xIdempotencyKeyHeader:
      in: header
      name: x-idempotency-key
      required: false
      description: 'An idempotency key is a unique identifier in your API call. If the request fails or times out, you can retry it with the same key to prevent duplicate actions.

        '
      schema:
        type: string
        format: UUID
      example: 47bf8872-46fe-11ee-be56-0242ac120002
    apiVersionHeader:
      in: header
      name: x-api-version
      description: API version to be used. Format is in YYYY-MM-DD
      schema:
        type: string
        description: API version to be used
        default: '2025-01-01'
      example: '2025-01-01'
      x-ignore: true
    orderIDParam:
      name: order_id
      in: path
      required: true
      description: The id which uniquely identifies your order
      schema:
        type: string
      example: your-order-id
    xRequestIDHeader:
      in: header
      name: x-request-id
      description: Request ID for the API call. It can be used to resolve technical issues. Include this in your tech-related queries to Cashfree.
      required: false
      schema:
        type: string
      example: 4dfb9780-46fe-11ee-be56-0242ac120002
  securitySchemes:
    XClientID:
      type: apiKey
      in: header
      name: x-client-id
      description: Client app ID. You can find your app id in the [merchant dashboard](https://merchant.cashfree.com/merchants/pg/developers/api-keys?env=prod").
    XClientSecret:
      type: apiKey
      in: header
      name: x-client-secret
      description: Client secret key. You can find your secret in the [merchant dashboard](https://merchant.cashfree.com/merchants/pg/developers/api-keys?env=prod").
    XClientSignatureHeader:
      type: apiKey
      in: header
      name: x-client-signature
      description: Use this if you do not want to pass the secret key and instead want to use the signature.
    XPartnerAPIKey:
      type: apiKey
      in: header
      name: x-partner-apikey
      description: If you are partner and you are making an api call on behalf of a merchant
    XPartnerMerchantID:
      type: apiKey
      in: header
      name: x-partner-merchantid
      description: If you are partner use this to specify the merchant id if you don't have the merchant client app id
externalDocs:
  url: https://api.cashfree.com/pg
  description: This url will have the information of all the APIs.
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
  samples-languages:
  - shell
